.banner {
  min-height: 20rem;
  color: #fea000;
  background: rgb(1, 22, 25);
  background: linear-gradient(
    0deg,
    rgba(1, 22, 25, 0) 0%,
    rgba(3, 102, 102, 1) 10%,
    rgba(3, 102, 102, 1) 25%,
    rgba(0, 147, 147, 0) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 150px 7vmin 10px;
  display: grid;
  column-gap: 20px;
}

article {
  text-align: right;
}

article li {
  padding: 120px 20px 0 7px;
  position: relative;
  border-radius: 1rem;
  min-height: 300px;
  border: solid 4px var(--cl-gr4);
  margin-bottom: 110px;
}

article li:last-child {
  margin-bottom: 0;
}

article li img {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.616);
  position: absolute;
  top: -70px;
  right: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

article li h3 {
  text-align: center;
  color: var(--cl-pr9);
}

article li span {
  color: var(--cl-pr9);
  position: absolute;
  bottom: 3px;
  left: 5px;
}

.card-item {
  text-align: center;
}

side div:last-child {
  display: none;
}

side > div {
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: solid 3px var(--cl-gr7);
  border-radius: 1rem;
  text-align: center;
  align-self: start;
}

side > div li {
  margin-top: 7px;
}

side > div h2 {
  color: var(--cl-pr8);
}

@media screen and (min-width: 730px) {
  main {
    grid-template-columns: 1fr 3fr;
  }

  side div:last-child {
    display: block;
  }
}
