header circle,
header path {
  stroke: var(--cl-w);
  fill: rgba(139, 139, 139, 0.1);
}

.banner {
  min-height: 20rem;
  color: #fea000;
  background: hsl(180, 94%, 5%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 150px 7vmin 10px;
  display: grid;
  column-gap: 20px;
}

article {
  text-align: right;
}

article li {
  padding: 120px 20px 0 7px;
  position: relative;
  border-radius: .5rem;
  min-height: 300px;
  border: solid 1px var(--cl-gr4);
  margin: 55px 0;
}

article li:last-child {
  margin-bottom: 0;
}

article li img {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.616);
  position: absolute;
  top: -70px;
  right: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

article li h3 {
  text-align: center;
  color: var(--cl-pr9);
}

article li span {
  color: var(--cl-pr9);
  position: absolute;
  bottom: 3px;
  left: 5px;
}

.card-item {
  text-align: center;
}

side div:last-child {
  display: none;
}

side > div {
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: solid 1px var(--cl-gr7);
  border-radius: .2rem;
  text-align: center;
  align-self: start;
}

side > div li {
  margin-top: 7px;
}

side > div h2 {
  color: var(--cl-pr8);
}

@media screen and (min-width: 730px) {
  main {
    grid-template-columns: 1fr 3fr;
  }

  side div:last-child {
    display: block;
  }

  article li {
  margin: 0 0 60px;
}
}
