*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.login-wrap {
  height: 100vh;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.login-left {
  display: none;
}

.login-right {
  flex-grow: 1;
  display: flex;
  flex-basis: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-right-logo svg path {
  fill: var(--cl-pr8);
  stroke: var(--cl-b);
}

.login-right-head {
  max-width: 200px;
  text-align: center;
  direction: rtl;
}

.form-wrapper label {
  display: block;
  direction: rtl;
  text-align: right;
}

.form-title {
}

.form-body {
}

.form-body input[type='tel'] {
}

input:focus {
}

.form-body input[type='submit'] {
  display: block;
  text-align: center;
  margin: 1rem 0 1rem auto;
  max-width: 3rem;
}

.phone-number-parent {
  position: relative;
}
.phone-number-parent a {
  display: block;
  text-align: right;
}

.error-tooltip {
  direction: rtl;
  opacity: 0;
  border: none;
  border-radius: 5px;
  line-height: 1.5em;
  text-align: center;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  transform: translate(-50%, 100%);
  color: rgb(255, 255, 255);
  background: conic-gradient(
    from 110deg at 50% 0%,
    transparent 0deg,
    var(--cl-pr8) 0deg,
    var(--cl-pr9) 70deg,
    var(--cl-pr8) 140deg,
    transparent 140deg
  );
}
.error-tooltip.on {
  animation-name: showHide;
  animation-duration: 3s;
}

@keyframes showHide {
  15% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 600px) {
  .login-left {
    display: grid;
    grid-template-columns: 1fr 1rem 2fr 0.5fr 2.5fr 1rem 1fr;
    grid-template-rows: 1fr 1rem 2fr 0.5fr 2.5fr 1rem 1fr;
    flex-basis: 200px;
    flex-grow: 2;
    border: #2c6c5e solid 0.5rem;
  }

  .login-left-decor-top {
    border-top: #2c6c5e solid 1rem;
    border-right: #2c6c5e solid 1rem;
    border-radius: 10%;
    grid-row: 2/5;
    grid-column: 5/7;
  }
  .login-left-decor-bot {
    border-bottom: #2c6c5e solid 1rem;
    border-left: #2c6c5e solid 1rem;
    border-radius: 10%;
    grid-row: 5/7;
    grid-column: 2/5;
  }
  .login-left-pic {
    max-height: 70vh;
    grid-row: 2/6;
    grid-column: 3/5;
    z-index: -1;
  }
  .login-left-text {
    grid-row: 3/4;
    grid-column: 5/6;
    margin: auto;
    text-align: center;
    direction: rtl;
  }
}

@media only screen and (min-width: 1000px) {
}
