.page-content {
  padding: 7rem 0 5rem;
  display: grid;
  min-height: 100vh;
  width: 100vw;
  overflow: scroll;
}

input:focus , select:focus {outline-width: 0;}

.form-box {
  margin:  auto ;
  border: 2px solid var(--cl-pr9);
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: calc(100% - 2rem);
}

.facial-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.facial-form > * {
  margin: 0.5rem;
}

.form-box input[type='submit'] {
  min-width: 5rem;
  margin: 1rem auto;
  font-family: nazanin;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--cl-pr8);
  border: none;
}
.form-box select {
  min-height: 1.5rem;
  appearance: none;
  width: 100%;
  text-align: right;
  font-family: nazanin;
  font-size: 1.5rem;
  padding-right: 2rem;
  border-radius: 0.2rem;
  background-color: var(--cl-pr5);
  border: none;
}

.parent-of-date-picker {
  position: relative;
  margin: 2rem;
}

.parent-of-date-picker input {
  min-height: 1.5rem;
  appearance: none;
  width: 100%;
  text-align: right;
  font-family: nazanin;
  font-size: 1.5rem;
  padding-right: 2rem;
  border-radius: 0.2rem;
  background-color: var(--cl-pr5);
  border: none;
}

.select-part {
  margin: 2rem;
  position: relative;
  line-height: normal;
}

.decor {
  pointer-events: none;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1.5rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-color: var(--cl-pr1);
}
.select-part .decor span {
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 0.1rem solid var(--cl-pr8);
  border-right: 0.1rem solid var(--cl-pr8);
  transform: rotate(45deg);
}

@media only screen and (min-width: 460px) {
  .facial-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .select-part {
    max-width: 80%;
  }
}
