* {
  box-sizing: border-box;
}
body,
div {
  margin: 0;
  padding: 0;
}

.login-wrap {
}

.login-left {
  display: none;
}

.login-right {
  height: 100vh;
  text-align: center;
  border: 2px #2c6c5e solid;
  background-color: #fff;
  background-image: linear-gradient(to top, #2c6c5e80, transparent 10%);
  color: #626262;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right-logo {
}

.login-right-head {
  direction: rtl;
}

.form-wrapper {
  margin: 1rem;
  border: 1px dotted #626262;
  border-radius: 5px;
}

.form-title {
  width: 50%;
  margin: auto;
  font-size: 1.2em;
  box-shadow: 0 1px #2c6c5e;
}

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-body input[type='tel'] {
  color: hsl(32, 100%, 20%);
  border: 1px solid gray;
  padding: 0.5ch 1ch 0;
  line-height: 1.3;
  border-radius: 5px;
  margin: 1rem;
}

input:focus {
  border: 1px solid #ff8a00;
  box-shadow: 0 0 4px 0px #ff8a00;
}

.form-body input[type='submit'] {
  margin: 0.5em;
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  color: white;
  background-color: #2c6c5e;
  border: none;
}

.phone-number-parent {
  position: relative;
  background-color: #ff8a00;
}

.phons-number-error {
  direction: rtl;
  opacity: 0;
  border: none;
  line-height: 1.5em;
  text-align: center;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
  color: rgb(255, 255, 255);
  background: conic-gradient(
    from 110deg at 50% 0%,
    transparent 0deg,
    #2c6c5e 0deg,
    #2c6c5e 140deg,
    transparent 140deg
  );
}
.phons-number-error.on {
  animation-name: showHide;
  animation-duration: 3s;
}

@keyframes showHide {
  15% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 425px) {
  .login-wrap {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: stretch;
  }

  .login-left {
    display: unset;
    background-color: #2c6c5e;
    height: 100vh;
  }
  .login-left-decor {
    margin: 3rem;
    border: 3px solid #ff8a00;
    display: flex;
  }
  .login-left-text {
    padding: 1.5rem;
    align-self: center;
    color: white;
  }
  .login-left-pic {
    height: calc(100vh - 7rem);
  }
}

@media only screen and (min-width: 1000px) {
  .login-wrap {
    grid-template-columns: 3fr 1.5fr;
  }
}
